*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    scroll-behavior: smooth;

}

body{
    max-width: 425px;
    width: 425px;
    font-family: 'roboto', sans-serif;
    letter-spacing: 2px;
        background-color: rgb(66, 2, 66);
}


header{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content:space-between ;
    width: 425px;
    height: 70px;
    background-color: rgb(66, 2, 66);
    padding: 0 20px;
    z-index: 2;

}

header li{
    list-style: none;
}

header a{
    color: white;
    margin: 20px;
    text-decoration: none;

}

header img{
    width: 50px;
}

nav{
    display: flex;
}

.nav-desktop{
    display: none;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 425px;
    height: 100vh;
    background-image: url("../img/bannergames.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

.ver-mais{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'roboto';
    font-size: 25px;
    height: 50px;
    width: 300px;
    background-color: purple;
    opacity: 0.7;
    margin-top: 50px;
    box-shadow: 0px 3px 2px purple;
    color: pink;
}

.container-ver-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 425px;
    height: 100%;
    padding: 10px 0;
    gap: 10px;
}

.ver-mais h1{
    width: 70%;
    color: red;
    opacity: 0.8;
    font-size: 40px;
    text-align: left;
}

.ver-mais p{
    text-align: left;
    color: white;
    width: 70%;
    font-size: 18px;
}


#games{
    width: 425px;
    color: white;
    background-color: rgb(66, 2, 66);
    text-align: center;
    font-size: 20px;
    z-index: 4;
}
/*Começo Modal*/
.modal{ 
    position: fixed;
    visibility: hidden;
    top: 25%;
    left: 15%;
    width: 49vw;
    height: 78vh;
    opacity: 1;
    border-radius: 100px;
    border-radius: 14px;
    z-index: 1;
} 

.modal:target
{
    visibility: visible;
    opacity: 1;
    
} 

.joystick{
    position: absolute;
    top: 9%;
    left: 50%;
    right: 0%;
    bottom: 0%; 
    width: 100px;
    height: 100px;

}

.login
{
    color: white;
    position: absolute;
    top: 29%;
    left: 25%;
    right: 0%;
    bottom: 1%;
    width: 111px;
    height: 108px;
}

.background
{
    position: relative;
    top: -5%;
    left: 0%;
    right: 0%;
    bottom: 1%;
    width: 70vw;
    height: 50vh;
    opacity: 143%;
    z-index: -2;
    border-radius: 14px;
}

.btn_Enviar
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'roboto';
    font-size: 19px;
    height: 36px;
    width: 175px;
    background-color: purple;
    opacity: .9;
    color: white;
    margin-top: 17px;
    box-shadow: 0px 3px 2px purple;
    cursor: pointer;
}
/*Fim Modal*/
main {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    background-image: url("../img/bannergames.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 425px;
    height: 100%;
    padding: 0px 0;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 500px;
    margin-top: 20px;
    background-color: rgb(66, 2, 66);
    border-radius: 10px;
    box-shadow: 5px 10px 10px purple;
}

h2 {
    text-align: center;
    padding-top:20px;
}

.card-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 190px;
    height: 300px;
    color: Pink;
}

.card-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 280px;
    height: 280px;
    text-align: left;
    margin-top: 10px;
    padding: 10px 10px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    color: white;
    border-radius: 10px;
}

.card-text > p{
    text-align: center;

}

.card-btn{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;
    height: 20px;
    top: -30px;
    border-radius: 10px;
    opacity: 0.5;
    background-color: black;
    color: white;
    cursor: pointer;
}

.card-btn a{
    text-align: center;
    text-decoration: none;
    color: white;
}

.cards img{
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

footer{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 650px;
    background-color:rgb(66, 2, 66);
    padding: 10px 20px;
    gap: 5px;
    font-size: 14px;
    color: pink;
}

footer img{
    width:20px;
}

#aluno1{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#aluno1 p{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#aluno2{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#aluno2 p{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#aluno3{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#aluno3 p{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#aluno4{
    width: 100%;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#aluno4 p{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#copyright{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
}

#git{
    border-radius: 100%;
}

/* Ajuste para resolução até 1280px */

    @media (min-width: 426px) and (max-width: 1280px){
    body{
        max-width: 1280px;
        width: 100%;
        font-family: 'roboto', sans-serif;
        letter-spacing: 2px;
        overflow-x: hidden;
        background-color: rgb(66, 2, 66);
    }

    header{
        display: flex;
        align-items: center;
        justify-content:space-between ;
        width: 100%;
        height: 90px;
        background-color: rgb(66, 2, 66);
        padding: 10px 50px;
    }

    header li{
        list-style: none;
        display: inline-flex;
    }


    .nav-desktop{
        display: inline-flex;
    }

    .nav-desktop a:hover{
        color: red;
    }

    .nav-btn{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100px;
        height: 30px;
        font-size: 15px;
    }

    #color{
        color: red;
    }

    header a{
        color: white;
        margin: 5px;
        text-decoration: none;
        transition: .3s;
    }

    header a:hover{
        transform: scale(.9);
    }

    header img{
        width: 70px;
    }

    .banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-image: url("../img/bannergames.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: fixed;
    }

    .ver-mais{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .btn-banner{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'roboto';
        font-size: 20px;
        height: 50px;
        width: 300px;
        background-color: purple;
        opacity: 0.7;
        margin-top: 90px;
        border: 2px solid black;
        transition: .3s;
    }

    .btn-banner:hover{
        transform: scale(0.9);
        color: red;
    }

    .container-ver-mais{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 10px 0;
        gap: 10px;
    }

    .ver-mais h1{
        width: 100%;
        text-align: left;
        color: red;
        opacity: 0.8;
        font-size: 50px;
    }

    .ver-mais p{
        text-align: left;
        width: 100%;
        color: white;
        font-size: 15px;

    }

    /*Começo Modal*/
    .modal{ 
        position: fixed;
        visibility: hidden;
        top: 25%;
        left: 15%;
        width: 49vw;
        height: 78vh;
        opacity: 1;
        border-radius: 100px;
        border-radius: 14px;
        z-index: 1;
    } 

    .modal:target
    {
        visibility: visible;
        opacity: 1;
        
    } 
    .fecharModal{
        position: fixed;
        top: 24%;
        left: 17%;
        right: 0%;
        bottom: 0%;
        width: 6rem;

    }

    .joystick{
        position: absolute;
        top: 9%;
        left: 53%;
        right: 0%;
        bottom: 0%; 
        width: 100px;
        height: 100px;

    }

    .login
    {
        color: white;
        position: absolute;
        top: 25%;
        left: 47%;
        right: 0%;
        bottom: 1%;
        width: 111px;
        height: 108px;
    }

    .background
    {
        position: relative;
        top: -5%;
        left: 0%;
        right: 0%;
        bottom: 1%;
        width: 70vw;
        height: 50vh;
        opacity: 143%;
        z-index: -2;
        border-radius: 14px;
    }

    .btn_Enviar
    {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'roboto';
        font-size: 19px;
        height: 36px;
        width: 175px;
        background-color: purple;
        opacity: .9;
        color: white;
        margin-top: 17px;
        box-shadow: 0px 3px 2px purple;
        cursor: pointer;
    }
    /*Fim Modal*/

    #games{
        width: 100%;
        color: white;
        background-color: rgb(66, 2, 66);
        text-align: center;
        font-size: 20px;
    }

    main {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; 
        background-image: url("../img/bannergames.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 100%;
        padding: 10px 0px;
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
        width: 350px;
        height: 450px;
        margin-top: 20px;
        background-color: rgb(66, 2, 66);
        border-radius: 10px;
        box-shadow: 5px 5px 5px purple;
        margin: 20px 20px;
        transition: .3s;
 
    }

    .cards:hover{
        transform: scale(1.2);
    }

    h2 {
        text-align: center;
        padding-top:20px;
    }

    .card-content{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 300px;
        color: Pink;
    }

    .card-text{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 320px;
        height: 230px;
        text-align: left;
        margin-top: 10px;
        padding: 10px 10px;
        background-color: rgb(0, 0, 0);
        opacity: 0.6;
        color: white;
        border-radius: 10px;
        padding-bottom: 100px;
    }

    .card-btn{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 50px;
        margin-top: 10px;
        top: -70px;
        border-radius: 10px;
        opacity: 0.5;
        background-color: purple;
        opacity: .5;
        color: white;
        cursor: pointer;
    }

    .card-btn a:hover{
        color: red;
    }

    .card-btn a{
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .cards img{
        display: flex;
        width: 100%;
        height: 150px;
        border-radius: 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 340px;
        background-color:rgb(66, 2, 66);
        padding: 40px 30px;
        gap: 5px;
        font-size: 14px;
        color: pink;
    }


    #aluno1{
        width: 33.33%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #aluno1 p{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    #aluno2{
        width: 33.33%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #aluno2 p{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #aluno3{
        width: 33.33%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 10px;
    }

    #aluno3 p{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        flex-wrap: wrap;
    }
    
    #aluno4{
        width: 33.33%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        left: 33.33%;
        top: 2090px;
    }
    
    #aluno4 p{
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
    }
    

    #copyright{
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        bottom: -50px;
        height: 0px;
        right: 825px;
    }



}
    /* Resoluções superiores a 1280px*/
    @media (min-width: 1281px) and (max-width: 3000px){
        body{
            max-width: 3000px;
            font-family: 'roboto', sans-serif;
            letter-spacing: 2px;
            overflow-x: hidden;
        }

        header{
            display: flex;
            align-items: center;
            justify-content:space-between ;
            width: 100%;
            height: 90px;
            background-color: rgb(66, 2, 66);
            padding: 10px 50px;
        }

        header li{
            list-style: none;
            display: inline-flex;
        }

        nav{
            display: none;
        }

        .nav-desktop{
            display: flex;
        }

        .nav-btn{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 20px;
            width: 100px;
            height: 30px;
            font-size: 18px;
            transition: .3s;
        }

        .nav-btn:hover{
            color: red;
        }

        #color{
            color: red;
        }

        header a{
            color: white;
            margin: 20px;
            text-decoration: none;
        }

        header img{
            width: 70px;
        }

        .banner{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100vw;
            height: 100vh;
            background-image: url("../img/bannergames.webp");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center top;
            background-attachment: fixed;
        }

        .ver-mais{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
        }

        .btn-banner{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'roboto';
            font-size: 50px;
            height: 100px;
            width: 500px;
            background-color: purple;
            opacity: 0.7;
            margin-top: 90px;
            border: 2px solid black;
            transition: .3s;
        }

        .btn-banner:hover{
            transform: scale(0.9);
            color: red;
        }

        .container-ver-mais{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 50%;
            height: 100%;
            padding: 10px 0;
            gap: 10px;
        }

        .ver-mais h1{
            width: 100%;
            text-align: left;
            color: red;
            opacity: 0.8;
            font-size:100px;
        }

        .ver-mais p{
            text-align: left;
            width: 100%;
            color: white;
            font-size: 50px;

        }

        /*Começo Modal*/
        .modal{ 
            position: fixed;
            visibility: hidden;
            top: 25%;
            left: 5%;
            width: 49vw;
            height: 78vh;
            opacity: 1;
            border-radius: 100px;
            border-radius: 14px;
            z-index: 1;
        } 
        .fecharModal{
            position: fixed;
            top: 24%;
            left: 17%;
            right: 0%;
            bottom: 0%;
            width: 6rem;

        }

        .modal:target
        {
            visibility: visible;
            opacity: 1;
            
        } 

        .joystick{
            position: absolute;
            top: 9%;
            left: 81%;
            right: 0%;
            bottom: 0%; 
            width: 100px;
            height: 100px;

        }

        .login
        {
            color: white;
            position: absolute;
            top: 28%;
            left: 77%;
            right: 0%;
            bottom: 1%;
            width: 111px;
            height: 108px;
        }

        .background
        {
            position: relative;
            top: -5%;
            left: 18%;
            right: 0%;
            bottom: 1%;
            width: 70vw;
            height: 50vh;
            opacity: 143%;
            z-index: -2;
            border-radius: 14px;
        }

        .btn_Enviar
        {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'roboto';
            font-size: 19px;
            height: 36px;
            width: 175px;
            background-color: purple;
            opacity: .7;
            color: white;
            margin-top: 17px;
            box-shadow: 0px 3px 2px purple;
            cursor: pointer;
            transition: .3s;
        }

        .btn_Enviar:hover{
            transform: scale(.9);
            color: red;
        }
        /*Fim Modal*/

        #games{
            width: 100vw;
            color: white;
            background-color: rgb(66, 2, 66);
            text-align: center;
            font-size: 50px;
        }

        main{
            padding: 10px 0px;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100vw;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap; 
            background-image: url("../img/bannergames.webp");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            height: 100%;
            padding: 10px 0px;
            padding-right: 45px;
        }

        .cards{
            display: flex;
            flex-wrap: wrap;
            width: 600px;
            height: 500px;
            background-color: rgb(66, 2, 66);
            border-radius: 25px;
            box-shadow: 5px 5px 5px purple;
            margin-left: 20px;
            transition: .3s;
        }

        .cards:hover{
            transform: scale(1.2);
            z-index: 1;
            padding-left: 5px;
            box-shadow: 10px 10px 5px purple;;
        }
    
        h2 {
        text-align: center;
        padding-top:20px;
    }

    .card-content{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 300px;
        color: Pink;
    }

    .card-text{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 680px;
        height: 230px;
        text-align: left;
        margin-top: 10px;
        padding: 10px 10px;
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
        color: white;
        border-radius: 10px;
        padding-bottom: 100px;
    }

    .card-btn{
        display: flex;
        position: relative;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 50px;
        top: -70px;
        border-radius: 10px;
        opacity: 0.5;
        background-color: black;
        color: white;
        cursor: pointer;
        transition: .3s;
    }

    .card-btn:hover{
        color: red;
        transform: scale(0.9);
    }

    .card-btn a{
        text-align: center;
        text-decoration: none;
        color: white;
    }

    .cards img{
        display: flex;
        width: 100%;
        height: 200px;
        border-radius: 10px;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100vw;
        height: 250px;
        background-color:rgb(66, 2, 66);
        padding: 40px 20px;
        gap: 5px;
        font-size: 14px;
        color: pink;

    }

    footer img{
        width: 25px;
        border-radius: 100%;
    }

    #aluno1{
        width: 33.33%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #aluno1 p{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    #aluno2{
        width: 33.33%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #aluno2 p{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #aluno3{
        width: 33.33%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-right: 20px;
        padding-right: 15px;
    }

    #aluno3 p{
        text-align: right;
        width: 100%;
        display: flex;
        justify-content: flex-end;

    }

    #aluno4{
        width: 35%;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        left: 33.33%;
        top: 2250px;
    }
    
    #aluno4 p{
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #copyright{
        position: relative;
        text-align: center;
        right: 1270px;
        width: 100%;
        top: 140px;
    }
}